.ingredient-page {
  font-family: "Raleway-regular";
  background-color: var(--white);
  min-height: 700px;
}

.heading {
  text-align: center;
  font-size: 2.8rem;
  padding: 2rem 0 2rem 0.5rem;
  color: var(--black);
}

.heading span {
  color: var(--green);
}
.tab-ingre {
  position: relative;
  margin-top: 2rem;
  min-height: 32rem;
}

@media (max-width: 1030px) {
    .heading {
      font-size: 2.5rem;
    }
  }

@media (max-width: 730px) {
  .heading {
    font-size: 2rem;
  }
}
