* {
  box-sizing: border-box;
  margin: 0;
  /* font-family:"Raleway-regular"; */
}

.route {
  font-family:"Raleway-regular";
}
.page {
  font-family:"Raleway-regular";
}
@font-face {
  font-family:"Raleway-regular";
  src:url(./fonts/Raleway-Regular.ttf)
}
@font-face {
  font-family:"Raleway-medium";
  src:url(./fonts/Raleway-Medium.ttf)
}
@font-face {
  font-family:"Raleway-bold";
  src:url(./fonts/Raleway-Bold.ttf)
}



.day{
  --orange: #F8931F;
  --green: #009245;
  --white: #fff;
  --grey1: #E5E5E5;
  --black: rgb(29, 20, 20)
}
.night{
  --orange: #009245;
  --green:#F8931F;
  --white: rgb(29, 20, 20);
  --black: rgb(238, 223, 223);
  --grey1: #E5E5E5;
}